.grid{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: auto;    
}

#disciplina{
 
    color: black;
    font-weight: bold;
}

#av1{
    text-align: center;   

}

#av2{
    text-align: center;   
}

#av3{
   text-align: center;   
}

.fotter{
    width: 100%;
    margin-top: 70px;
    position: relative;
    vertical-align: bottom;
    bottom: 0;
    left: 0; 

}

.tabela{
    border-style: solid;
    border-color:rgb(207, 206, 206);
    border-width: 1px; 
    border-bottom: 1px;
  
}

.borda{
    border-bottom: 2px;
    border-style: solid;

}

