.container{
   margin: auto;
   margin-left: auto;
 
}

.menu{
    width: 100%;
    top: 0;
    margin: auto;
    position: sticky;
}

.Itens_Nav_Bar{
    margin: auto;
    margin-right: auto;
    margin-left: 20px;
}


.logo{
    margin-right: 0px;
    margin-left: 0px;
}

.navbar .logout{
    cursor: pointer;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.slider-principal{
    width: 50px;
    height: 50px;
}

.nomeAluno{
    width: auto;  
    margin: auto;
    margin-left: 1px;
    margin-right: auto;
    height: auto;
}

.lbSaudacao{
    color: silver;
    font-size: 10pt;
    margin: auto;
    margin-bottom: 0px;
    vertical-align: bottom;
}

.lbAluno{
    color: silver;
    font-size: 10pt;
    margin-top: 0px;
    position: top;
    vertical-align: top;
    text-align: left;   
    text-decoration: none;

}

.lbAluno:hover{
    color: rgb(173, 173, 173);
}

.noticias{
    margin: auto;
    margin-top: auto;
    width: auto;
}

#foto{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: -25px;
    margin-right: 05px;
    margin-left: -60px;

}