.grid_horario{
    width: 100%;
    margin: auto;    
    padding: 20px;    
    padding-bottom: 0px;
    max-width: 920px;
}

#horario{
    max-width: 540px;
    width: 10px;
    color: black;
    font-weight: bold;
    border-color:rgb(207, 206, 206);
    text-align: center;
}

#qdh{
    margin-bottom: 20px;
}

.fotter_hr{
    width: 100%;
    margin-top: 47px;
    position: relative;
    vertical-align: bottom;
    bottom: 0;
    left: 0; 
    
}

.tabela_hr{
    border-style: solid;
    border-color:rgb(207, 206, 206);
    border-width: 1px; 
    border-bottom: 1px;          
}

.borda_hr{
    border-bottom: 2px;
    border-style: solid;

}

.col-horario{
    text-align: center;
    vertical-align: middle;
}